@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');



.header {
	position: absolute;
	font-family: "Lato";
	min-width: 1920px;
	overflow-x: hidden;
	height: 1080px;
}

.background__background{
	position: absolute;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	opacity: 0.3;
	width: 1920px;
	height: 1080px;
}

.background div {
	position: absolute;
}

.background__shapes {
	background: url(../img/decore/shapes.svg) 0 0 no-repeat;
	height: 96px;
	width: 96px;
	left: 82px;
	top: 133px;
	opacity: 1.1;
	border-radius: 4px;
}
.background__shapes-one {
	background: url(../img/decore/shapesone.svg) 0 0 no-repeat;
	width: 110px;
	height: 110px;
	left: 1668px;
	opacity: 1.1;
}
.background__shapes-two {
	background: url(../img/decore/shapestwo.svg) 0 0 no-repeat;
	width: 88px;
	height: 47px;
	left: 788px;
	top: 487px;
	opacity: 1.1;
}
.background__dots {
	background: url(../img/decore/dots.svg) 0 0 no-repeat;
	width: 187px;
	height: 137px;
	left: 1763px;
	top: 749px;
	opacity: 1.1;
}
.background__vector {
	height: 61px;
	width: 61px;
	left: 733px;
	top: 758px;
	opacity: 1.1;
}
.background__circles {
	height: 284px;
	width: 284px;
	left: -112px;
	top: 896px;
	opacity: 1.1;
}
.background__illustration {
	height: 551px;
	width: 602px;
	left: 1020px;
	top: 200px;
}


.navbar {
	display: inline-block;
	position:  fixed;
	width: 1330px;
	height: 52px;
	left: 345px;
	top: 20px;
}

[class*="button__"]:hover{
	transform: scale(1.1);
}

.navbar::before {
	background: url(../img/icon/logo.svg) 0 0 no-repeat;
	content: "";
	position: absolute;
	width: 130px;
	height: 22px;
	left: 0px;
	top: calc(50% - 22px/2);
}
.navbar__manu {
	position: absolute;
	width: 442px;
	height: 26px;
	left: 190px;
	top: calc(50% - 26px/2);
}
.navbar__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
}
.navbar__manu a:not(:last-child){
	margin-right: 40px;
}

.navbar__cta {
	position: absolute;
	left: 844px;
	width: 386px;
	height: 52px;
	top: calc(50% - 52px/2);
}
.button__solid {
	position: absolute;
	font-weight: 700;
	font-size: 16px;
	line-height: 52px;
	color: #FFFFFF;
	padding: 0px 40px;
	gap: 10px;
	width: 206px;
	height: 52px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
}
.navbar__login {
	position: absolute;
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	width: 144px;
	height: 26px;
	margin-top: 13px;
	margin-left: 242px;
}
.navbar__login::before {
	background: url("../img/icon/Person.svg") 0 3px no-repeat;
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 8px;
}

.play {
	position: absolute;
	width: 84px;
	height: 84px;
	left: 329px;
	top: 212px;
}

.showreel {
	position: absolute;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	width: 88px;
	height: 21px;
	left: 413px;
	top: 244px;
}

.title__text {
	position: absolute;
	width: 496px;
	height: 249px;
	left: 344px;
	top: 320px;
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
}

.button {
	position: absolute;
	width: 372px;
	height: 52px;
	left: 344px;
	top: 629px;
}

.button__outline-large{
	position: absolute;
	font-weight: 400;
	font-size: 16px;
	line-height: 52px;
	color: #FF3F3A;
	letter-spacing: 0.5px;
	padding: 0px 40px;
	width: 148px;
	height: 52px;
	outline : 1px solid #FF3F3A;
	border-radius: 4px;
}

.button__solid-margin{
	position: absolute;
	margin-left: 172px;
}


.statistics {
	position: absolute;
	width: 1229px;
	height: 60px;
	left: 345px;
	top: 940px;
}
.statistics__item {
	position: absolute;
	height: 60px;
	width: 256px;
}

.statistics__item--one {
	height: 60px;
	width: 201px;
	margin-left: 396px;
}

.statistics__item--two {
	height: 60px;
	width: 176px;
	margin-left: 737px;
}

.statistics__item--tree {
	height: 60px;
	width: 176px;
	margin-left: 1053px;
}

.statistics__item-nomer {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}

.statistics__item-text {
	position: absolute;
	height: 26px;
	width: 138px;
	left: 119px;
	top: 17px;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #1E212C;
}

.statistics__item-text--one {
	height: 26px;
	width: 135px;
	left: 66px;
	top: 17px;
}
.statistics__item-text--two {
	height: 26px;
	width: 120px;
	left: 66px;
	top: 17px;
}
.statistics__item-text--tre {
	height: 26px;
	width: 137px;
	left: 39px;
	top: 17px;
}


.statistics__icon {
	position: absolute;
	margin-left: 322px;
	margin-top: 26px;
}
.statistics__iconone {
	position: absolute;
	margin-left: 663px;
	margin-top: 26px;
}
.statistics__icontwo {
	position: absolute;
	margin-left: 979px;
	margin-top: 26px;
}